# Report

Recommender-System Report

## Introduction
<span style="color: red;">TODO: Explain purpose of document</span>

In [2]:
import sys
import pandas as pd
sys.path.insert(0, '../data')
from DA import DA

In [14]:
# visit https://github.com/roman-studer/fhnw-ds-fs2020-recommender_systems/blob/master/README.md for a description of the columns

data = pd.read_csv('../data/Recommender4Retail.csv', nrows=10) # nrows= limits the loaded rows

data = data[data.columns[1:]] #drop csv-index
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,department,aisle
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,beverages,soft drinks
1,2539329,1,prior,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,dairy eggs,soy lactosefree
2,2539329,1,prior,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,snacks,popcorn jerky
3,2539329,1,prior,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,snacks,popcorn jerky
4,2539329,1,prior,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,household,paper goods